<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.nebula.widgets.pshelf.css.internal.PShelfElementProvider">
         <widget
               class="org.eclipse.nebula.widgets.pshelf.PShelf"></widget>
      </provider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.nebula.widgets.pshelf.css.internal.PShelfElement"
            composite="true"
            handler="org.eclipse.nebula.widgets.pshelf.css.internal.PShelfPropertyHandler">
         <property-name
               name="pshelf-basecolor-selected">
         </property-name>
         <property-name
               name="pshelf-basecolor-unselected">
         </property-name>
         <property-name
               name="pshelf-basecolor-hover">
         </property-name>
         <property-name
               name="pshelf-selectedcolor-start">
         </property-name>
         <property-name
               name="pshelf-selectedcolor-end">
         </property-name>
         <property-name
               name="pshelf-unselectedcolor-start">
         </property-name>
         <property-name
               name="pshelf-unselectedcolor-end">
         </property-name>
         <property-name
               name="pshelf-hovercolor-start">
         </property-name>
         <property-name
               name="pshelf-hovercolor-end">
         </property-name>
         <property-name
               name="pshelf-foregroundcolor">
         </property-name>
         <property-name
               name="pshelf-selected-foregroundcolor">
         </property-name>
         <property-name
               name="pshelf-selected-font-size">
         </property-name>
         <property-name
               name="pshelf-selected-font-style">
         </property-name>
         <property-name
               name="pshelf-selected-font-weight">
         </property-name>
         <property-name
               name="pshelf-selected-font">
         </property-name>
         <property-name
               name="pshelf-unselected-font-size">
         </property-name>
         <property-name
               name="pshelf-unselected-font-style">
         </property-name>
         <property-name
               name="pshelf-unselected-font-weight">
         </property-name>
         <property-name
               name="pshelf-unselected-font">
         </property-name>
      </handler>
   </extension>

</plugin>
