<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.nebula.visualization.xygraph.exampleview.WidgetsExampleView"
            icon="icons/AutoScale.png"
            id="org.eclipse.nebula.visualization.xygraph.exampleview.widgetsexampleview"
            name="Widgets Example View"
            restorable="true">
      </view>
      <view
            class="org.eclipse.nebula.visualization.xygraph.exampleview.XYGraphExampleView"
            icon="icons/AutoScale.png"
            id="org.eclipse.nebula.visualization.xygraph.exampleview.xyexampleview"
            name="XY Graph Example View"
            restorable="true">
      </view>
   </extension>

</plugin>
