<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="examples" name="Nebula Example Part" schema="schema/examples.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.swt.nebula.examples.nebula"
            class="org.eclipse.swt.nebula.examples.ExamplesView"
            icon="icons/eclipse.png"
            id="org.eclipse.swt.nebula.examples.view"
            name="Nebula Examples"/>
      <category
            id="org.eclipse.swt.nebula.examples.nebula"
            name="Nebula" 
            >
      </category>
   </extension>
   <extension
         point="org.eclipse.swt.nebula.examples.examples">
      <tab
            class="org.eclipse.swt.nebula.examples.parts.GridExampleTab"
            name="Grid"/>
      <tab
            class="org.eclipse.swt.nebula.examples.parts.PGroupExampleTab"
            name="PGroup"/>
      <tab
            class="org.eclipse.swt.nebula.examples.parts.PShelfExampleTab"
            name="PShelf"/>
      <tab
            class="org.eclipse.swt.nebula.examples.parts.CDateTimeExampleTab"
            name="CDateTime"/>
      <tab
            class="org.eclipse.swt.nebula.examples.parts.GalleryExampleTab"
            name="Gallery"/>
      <tab
            class="org.eclipse.swt.nebula.examples.parts.AnimationExampleTab"
            name="Animation"/>
            
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.swt.nebula.examples.ExamplesPerspective"
            fixed="true"
            id="org.eclipse.swt.nebula.examples.perspective"
            name="Nebula">
      </perspective>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/eclipse.png"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.swt.nebula.examples.ExamplesApplication">
         </run>
      </application>
   </extension>
   <extension
         id="nebula_examples"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.swt.nebula.examples.application"
            name="Nebula Examples">
         <property
               name="appName"
               value="Nebula Examples">
         </property>
      </product>
   </extension>

</plugin>
