<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.eclipse.swt.nebula.presentations.shelf.PresentationFactory"
            id="org.eclipse.swt.nebula.presentations.shelf.factory"
            name="Nebula PShelf-based Presentation">
      </factory>
   </extension>

</plugin>
