<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.nebula.examples.examples">
      <tab
            class="org.eclipse.nebula.widgets.collapsiblebuttons.example.CollapsibleButtonsExampleTab"
            name="CollapsibleButtons"/>
  </extension>
</plugin>
